html {
    height: 100%;
    width: 100%;
  }

  body {
    background: #944664;
    background-image: linear-gradient(90deg, #000004, #140e36, #3b0f70, #641a80, #8c2981, #b5367a, #de4968, #f66e5c, #fe9f6d, #fecf92, #fecf92);
    color: white;
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logo {
    width: 20%;
    height: auto;
    display: block;
    margin-left: 40%;
  }

  .chronic-wanderer {
    width: 100%;
    height: auto;
  }

  .cat-girl {
    object-fit: cover;
    width: 80%;
    height: 70%;
  }

  .zombieland {
    max-width: 100%;
    height: auto;
  }

  .form {
    display: block;
    margin: auto;
    width: auto;
  }

  .message {
    width: 200px;
    height: 200px;
  }

  .footer {
    text-align: left;
  }